/*
 * POOL
 *
 * toast.css created at 19.11.20, 08:36
 *
 * @author Alexander Manhart <alexander@manhart-it.de>
 */

.toast-container {
    position: fixed;
    z-index: 7777;
    overflow: hidden;
    width: auto;
    height: auto;
}

.toast-container.top-right {
    top: 0;
    right: 0;
}

.toast-container.top-left {
    top: 0;
    left: 0;
}

.toast-container.top-center {
    transform: translateX(-50%);
    top: 0;
    left: 50%;
}

.toast-container.bottom-right {
    right: 0;
    bottom: 0;
    /* overflow: hidden; */
}

.toast-container.bottom-left {
    left: 0;
    bottom: 0;
}

.toast-container.bottom-center {
    transform: translateX(-50%);
    bottom: 0;
    left: 50%;
}

.toast rect.error {
    fill: red; /* #f84f31; */
}

.toast rect.info {
    fill: #ffe8a1;
}

.toast rect.success {
    fill: #23c552;
}

.toast rect.warning {
    fill: darkorange;
}

.toast rect.toast {
    fill: #6c757d;
}