
#t3, #calendarTitle, #calendarDayCaption  {
	font-size: 10pt;
	font-family: Tahoma,Verdana,Helvetica,Arial;
	color: #282828;
}

#calendarMonth, #calendarYear {
	font-size: 10pt;
	font-family: Tahoma,Verdana,Helvetica,Arial;
	font-weight: bold;
	color: #282828;
}


#t4  {
	font-size:10pt;
	font-family:Tahoma,Verdana,Helvetica,Arial;
	color:#787878;
}

#t6  {
	font-size:10pt;
	font-family:Tahoma,Verdana,Helvetica,Arial;
	color:#FFFFFF;
}
